<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Appliance </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> id</label>
                        <input type="text" class="form-control" id="id_appliance" {{ appliance.id_appliance }}
                            name="id">
                    </div>

                    <div class="form-group">
                        <label> LIBELLE</label>
                        <input type="text" class="form-control" id="libelle" {{ appliance.libelle }}
                            name="libelle">
                    </div>

                    <div class="form-group">
                        <label> TYPE</label>
                        <input type="text" class="form-control" id="type"{{ appliance.type.id }}
                            name="type">
                    </div>

                    <div class="form-group">
                        <label> DBID</label>
                        <input type="text" class="form-control" id="dbid" {{ appliance.dbid }}
                            name="dbid">
                    </div>
                    <div class="form-group">
                        <label> DISPONIBILITE</label>
                        <input type="text" class="form-control" id="disponibilite" {{ appliance.disponibilite }}
                            name="disponibilite">
                    </div>
                    <div class="form-group">
                        <label> REFERENCE</label>
                        <input type="text" class="form-control" id="reference"{{ appliance.reference }}
                            name="reference">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>